@charset "UTF-8";

html, body {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

section#celular {
    background: url(../imagens/frame-iphone.png);
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    height: 627px;
    width: 311px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#redes {
    text-align: center;
}

section#redes img{
    display: inline-block;
    width: 60px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.623);
    box-sizing: border-box;
}

section#redes img:hover {
    border: 2px solid white;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.644);
    transform: translate(-3px, -3px);
    transition: .2s;
}

iframe#tela {
    position: relative;
    top: 82px;
    left: 24px;
    width: 264px;
    height: 466px;
}

@media(max-width:500px) {

    section#redes img{
        display: inline;
        width: 40px;
        margin: 5px;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.623);
        box-sizing: border-box;
    }
}